* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

#title {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: radial-gradient(circle, #5ffbf1, #4aebf3, #42daf1, #46c9ec, #52b8e3, #47a3d5, #408fc6, #3d7ab5, #255d9f, #114187, #03256e, #000753);
}

.color {
    display: inline-block;
    border: black solid 1px;
    width: 60px;
    height: 60px;
    margin: 5px;
}

#color-palette {
    margin-bottom: 20px;
}

#button-random-color {
    display: inline-block;
    background-image: linear-gradient(to right top, #ff0000, #fe0042, #eb006e, #c70093, #921fae, #7948ca, #5463df, #0079ed, #009fff, #00bae4, #00cc92, #00d612);
    font-family: monospace;
    padding: 7px;
    position: relative;
    bottom: 15px;
    right: 15px;
}

#clear-board {
    display: inline-block;
    background-color: gray;
    font-family: monospace;
    padding: 7px;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.linha {
    display: flex;
}

.pixel {
    border: black solid 1px;
    width: 40px;
    height: 40px;
}

#pixel-board {
    margin: 0 auto;
    width: fit-content;
}

.selected {
    border: red solid 2px;
}